<div class="row-fluid">
    <a href="/{{majors}}/insert" class="btn btn-success">Thêm dữ liệu</a>
</div>
<div class="get">
    <table class="table-bordered" border="1">
        <tr>
            <th>title</th>
            <th>intent</th>
            <th>url</th>
            <th></th>
        </tr>
            {{#each items}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.intent}}</td>
                <td>{{this.url}}</td>
                <td>
                    <a href="/oto/delete" class="btn btn-default">Xóa</a>
                    <a href="/oto/update" class="btn btn-default">Sửa</a>
                </td>
            </tr>
            {{/each}}

    </table>
</div>