<div class="row-fluid">
    <h3>Thêm đữ liệu ngành công nghệ kỹ thuật oto</h3>
</div>
<div class="insert">
    <form action="/oto/insert" method="post">
        <div class="control-group">
            <label class="control-label" for="title">title</label>
            <input class="form-control" type="text" id="title" name="title">
        </div>
        <div>
            <label for="intent">intent</label>
            <input type="text" id="intent" name="intent">
        </div>
        <div>
            <label for="url">url</label>
            <input type="text" id="url" name="url">
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>