<div style="text-align: center" class="row-fluid">
    <h1>Thêm dữ liệu ngành công nghệ kỹ thuật oto</h1>
</div>
<div class="insert">
    <form class="form-actions" action="/oto/insert" method="post">
        <div class="control-group">
            <label class="control-label" for="title"><h2><b>Tiêu đề</b></h2></label>
            <input class="form-control" type="text" id="title" name="title">
        </div>
        <div>
            <label for="intent"><h2><b>Từ khóa rút gọn</b></h2></label>
            <input type="text" id="intent" name="intent">
        </div>
        <div>
            <label for="url"><h2><b>Link bài viết</b></h2></label>
            <input type="text" id="url" name="url">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Tạo</button>
        </div>
    </form>
</div>