<div class="row-fluid">
    <h3>Thêm đữ liệu ngành công nghệ thông tin</h3>
</div>
<div class="insert">
    <form action="#" method="post">
        <table class="table-bordered" border="1">
            <label for="title">title</label>
            <input type="text" id="title" name="title">
            <label for="intetnt">intetnt</label>
            <input type="text" id="intetnt" name="intetnt">
            <label for="url">url</label>
            <input type="text" id="url" name="url">
        </table>
    </form>
</div>