<section style="background: #0B90C4; color: white;">
    <div style="color: #f5e309; font-weight:bold ">menu lồng</div>
    <div>
        {{#each item1}}
        <label for="titleMenu">title</label>
        <input type="text" id="titleMenu" name="titleMenu" value="{{this.title}}">
        {{/each}}
    </div>
    <div>
        <div style="color: #f5e309; font-weight:bold ">menu item</div>
        <table border="1">
            {{#each item1_child}}
                <tr>
                    <td>Menu Item {{@index}}</td>
                    <td>
                        <label for="titleButtonURL">title</label>
                        <input type="text"  id="titleButtonURL" value="{{this.title}}">
                    </td>
                    <td>
                        <label for="payloadButtonURL">payload</label>
                        <input type="text"  id="payloadButtonURL" value="{{this.payload}}">
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    <a href="#" class="btn btn-success">Lưu</a>
</section>
