<div style="text-align: center" class="row-fluid">
    <h1>Thêm đữ liệu ngành công nghệ thông tin</h1>
</div>
<div class="insert">
    <form class="form-actions" action="/cntt/insert" method="post">
        <div class="control-group">
            <label class="control-label" for="title">title</label>
            <input class="form-control" type="text" id="title" name="title">
        </div>
        <div>
            <label for="intent">intetnt</label>
            <input type="text" id="intent" name="intent">
        </div>
        <div>
            <label for="url">url</label>
            <input type="text" id="url" name="url">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>